<div class="form-register">
    <a href="/<%= section.split('/')[0] %>/reporte" class="btn-back-history">
      <i class="fas fa-arrow-left"></i> Ver Reporte
    </a>
  <div class="title-form"><%= data ? 'Actualizaci贸n' : 'Registro' %> de <%= section.split('/')[0].replace(/\w\S*/g, (w) => (w.replace(/^\w/, (c) => c.toUpperCase()))) %></div>
  <div class="codigo__item"><%= data ? data.codigo : '' %></div>
  <form action="#" id="<%= data ? 'form__edit' : 'form__register' %>">
    <div class="form-details">
      <div class="input-box">
        <span class="details">Nombre</span>
        <input type="text" name="nombre" value="<%= data ? data.nombre : '' %>" placeholder="Ingrese Nombre" required />
      </div>
      <div class="input-box">
        <span class="details">Descripci贸n</span>
        <input type="text" name="descripcion" value="<%= data ? data.descripcion : '' %>" placeholder="Ingrese Descripci贸n" required />
      </div>
      <% if(section == 'categoria/registro') { %>
        <div class="input-box w-100">
          <span class="upload-guide">Elija forma de subir la imagen.</span>
          <input type="radio" name="gender" class="upload-radio upload-file" id="dot-1" checked/>
          <input type="radio" name="gender" class="upload-radio upload-link" id="dot-2" />
          <div class="category select-type-upload">
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Subir por archivo</span>
            </label>
            <input
              type="file"
              id="fileForm"
              class="d-none"
              accept="image/*"
              name="archivo"
            />
            <label class="file__select inputUpFile" for="fileForm" name="imagen"
              >Elija imagen.</label
            >
            <label for="dot-2" id="link__select">
              <span class="dot two"></span>
              <span class="gender">Subir por link</span>
            </label>
            <input
              type="text"
              id="linkForm"
              placeholder="Ingrese enlace de imagen"
              class="form-control inputUpLink"
              disabled
            />
          </div>
        </div>
  
        <div class="input-box w-100">
          <div class="col">
            <div class="preview__img">
              <div class="title__preview__img">Previsualizaci贸n de Imagen:</div>
              <% data ? data.imagen == "null" || data.imagen == "" ? data.imagen = null : data.imagen : '' %>
              <img
                class="img-fluid img__view__preview"
                src="<%= data ? data.imagen ? data.imagen : '/img/placeholder-image.png' : '/img/placeholder-image.png' %>"
                alt=""
              />
            </div>
          </div>
        </div>
      <% } %>
    </div>
    <div class="button">
      <input type="submit" class="<%= edit ? 'btn-update' : 'btn-save' %>" value="<%= edit ? 'Editar' : 'Guardar' %>" />
    </div>
  </form>
</div>
