<div class="form-table">
  
  <div class="title-form">Reporte de Clientes</div>
  <div class="form-search form-details">
    <div class="input-box search-box">
      <span class="details">Buscar</span>
      <input type="text" class="input-search-table" placeholder="Busque algun cliente" required>
    </div>
  </div>
  <div class="buttons-actions-table">
    <div class="btn-actions btn-edit">
      Editar
    </div>
    <a href="/<%= section %>" class="btn-actions btn-refresh">
      Actualizar
    </a>
    <!-- <a href="/<%= section.split('/')[0] %>/registro" class="btn-actions btn-new-save">
      Registrar Nuevo
    </a> -->
  </div>
  <div class="table-responsive">
    <table class="table table-striped tb-clients">
      <thead>
        <tr>
          <th scope="col">
            SEL.
          </th>
          <th scope="col">C贸digo</th>
          <th scope="col">Imagen</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido Materno</th>
          <th scope="col">Dni</th>
          <th scope="col">Direcci贸n</th>
          <th scope="col">Telefono</th>
          <th scope="col">Estado</th>
          <th scope="col">Correo</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((item, i) => { %>
          <tr>
            <td data-title="Seleccionar">
              <input class="inp-cbx" id="cbx<%= i + 2 %>" type="checkbox" style="display: none">
              <label class="cbx" for="cbx<%= i + 2 %>"><span>
                <svg width="12px" height="10px" viewBox="0 0 12 10">
                  <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                </svg></span><span></span></label>
            </td>
            <td data-title="C贸digo" class="codigo-item" scope="row"><%= item.codigo %></td>
            <td data-title="Imagen">
              <div class="image-row-table">
                <img src="<%= item.imagen || '/img/usuario.png' %>" alt="">
              </div>
            </td>
            <td data-title="Nombres"><%= item.nombres %></td>
            <td data-title="Apellido Paterno"><%= item.apellido_paterno %></td>
            <td data-title="Apellido Materno"><%= item.apellido_materno %></td>
            <td data-title="Dni"><%= item.dni %></td>
            <td data-title="Direcci贸n"><%= item.direccion %></td>
            <td data-title="Telefono"><%= item.telefono %></td>
            <td data-title="Estado"><%= item.estado %></td>
            <td data-title="Correo"><%= item.correo %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <div class="pagination-table">
    <div id="index_native" class="actions-paginator-table"></div>
  </div>
</div>